section.section-contacts
    .container
        .section-contacts__inner
            .section-title КОНТАКТЫ Складов
            .section-contacts__inner-items
                .section-contacts__inner-item
                    .section-contacts__inner-item-title.h5-title Москва
                    p.
                        Московская область, Одинцовский городской округ,
                        рабочий поселок Новоивановское, Можайское шоссе,
                        дом 165, строение 1, этаж 1, павильон № 29
                    .section-contacts__inner-item-map
                        .map__wrapper
                            .my-map(
                                data-coord="[55.71209377024697,37.381575276224595]"
                                data-center="[55.71209377024697,37.381575276224595]"
                                data-content="Склад Parts-Cat в Москве"
                                )
                .section-contacts__inner-item
                    .section-contacts__inner-item-title.h5-title Санкт-Петербург
                    p г.п Павлово, переулок Горский, д.12
                    .section-contacts__inner-item-map
                        .map__wrapper
                            .my-map(
                                data-coord="[59.80892399092966,30.902659696008993]"
                                data-center="[59.80892399092966,30.902659696008993]"
                                data-content="Склад Parts-Cat в Санкт-Петербурге"
                                )

