.contacts-map__items
    .contacts-map__item
        .contacts-map__item-title.h5-title Москва
        p.
            Московская область, Одинцовский городской округ,
            рабочий поселок Новоивановское, Можайское шоссе,
            дом 165, строение 1, этаж 1, павильон № 29
        .contacts-map__item-map
            .map__wrapper
                .my-map(
                    data-coord="[55.71209377024697,37.381575276224595]"
                    data-center="[55.71209377024697,37.381575276224595]"
                    data-content="Склад Parts-Cat в Москве"
                )
    .contacts-map__item
        .contacts-map__item-title.h5-title Санкт-Петербург
        p г.п Павлово, переулок Горский, д.12
        .contacts-map__item-map
            .map__wrapper
                .my-map(
                    data-coord="[59.80892399092966,30.902659696008993]"
                    data-center="[59.80892399092966,30.902659696008993]"
                    data-content="Склад Parts-Cat в Санкт-Петербурге"
                )

